/*
 * Base.html css
 */
body{
  background-image: url(../../static/images/background.jpg);
  background-repeat:no-repeat;
  background-size: cover;
  background-position:center;
  background-attachment:fixed;
}
.add{
  height: auto;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);

}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  /*height: 100%;!* For at least Firefox *!*/
  min-height: 20%;
}
.site-header{
  margin-top: 3%;

}
.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 2%;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 20px;
  font-weight: bold;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: transparent;
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

.logo{
  padding-right: 30%;
}

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  /* Start the vertical centering */
  .site-header{
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead{
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead{
    width: 700px;
  }
}
.button {
  background-color: #848484;
  border: none;
  color: white;
  border-radius: 8px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 20px 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;

}
.button:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}