.user{
    float: left;
    margin-left: 20%;
    margin-bottom: 5%;

    height: 700px;

    padding: 5%;
}
.operate{
    float: right;
    height: 700px;
    margin-right: 20%;
    margin-bottom: 5%;

    padding: 5%;
	/*width: 80%;*/

}
label{
    float: left;
}
.hit{
    text-align: center;
}

.content{

    margin-top: 5%;
    /*margin-bottom: 5%;*/
}