.user{
    float: left;
    margin-left: 20%;
    margin-bottom: 2%;
    height: 500px;
    padding: 2%;
}
.operate{
    float: right;
    height: 500px;
    margin-right: 20%;
    margin-bottom: 2%;
    padding: 2%;
}
.hit{
    text-align: left;
}
.hit{
    text-align: center;
}
