body{
	background-image: url(../../static/images/background.jpg);
	background-repeat:no-repeat;
	background-size: cover;
	background-position:center;
	background-attachment:fixed;
}

div.table-title {
	display: block;
	margin: auto;
	max-width: 150px;
	text-align: center;
	font-size: 20px;
	color: white;
	padding:8% 5% 0% 0%;
	width: 100%;
	/*background-color: black;*/
}
.first-table{
	position:absolute;
	float: left;
	/*background-color: black;*/
	margin-left: 15%;
	margin-top: 0%;
}
.second-table{
	position: absolute;
	float: left;
	margin-left: 55%;
	margin-top: 0%;
}
.thirdly-table{
	position: absolute;
	float: left;
	margin-left: 15%;
	margin-top: 35%;
}
.fourthly-table{
	position: absolute;
	float: left;
	margin-left: 55%;
	margin-top: 35%;
}
.first-table,.second-table,.thirdly-table, .fourthly-table{
	width: 400px;
	height: 100px;
	/*background-color: black;*/
}
.table-title h4 {
	color: #fafafa;
	font-size: 20px;
	width: 400px;
	margin-left: -95%;
	font-style:normal;
	font-family: "Roboto", helvetica, arial, sans-serif;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
	background: white;
	border-radius:3px;
	border-collapse: collapse;
	height: 280px;
	margin: auto;
	max-width: 400px;
	padding:5px;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	animation: float 5s infinite;
}

th {
	color:#D5DDE5;;
	background:#1b1e24;
	border-bottom:4px solid #9ea7af;
	border-right: 1px solid #343a45;
	font-size:23px;
	font-weight: 100;
	padding:24px;
	text-align:left;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	vertical-align:middle;
}

th:first-child {
	border-top-left-radius:3px;
}

th:last-child {
	border-top-right-radius:3px;
	border-right:none;
}

tr {
	border-top: 1px solid #C1C3D1;
	border-bottom-: 1px solid #C1C3D1;
	color:#666B85;
	font-size:16px;
	font-weight:normal;
	text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
	background:#4E5066;
	color:#FFFFFF;
	border-top: 1px solid #22262e;
	border-bottom: 1px solid #22262e;
}

tr:first-child {
	border-top:none;
}

tr:last-child {
	border-bottom:none;
}

tr:nth-child(odd) td {
	background:#EBEBEB;
}

tr:nth-child(odd):hover td {
	background:#4E5066;
}

tr:last-child td:first-child {
	border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
	border-bottom-right-radius:3px;
}

td {
	background:#FFFFFF;
	padding:15px;
	text-align:left;
	vertical-align:middle;
	font-weight:300;
	font-size:18px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	border-right: 1px solid #C1C3D1;
	max-height: 20px;
	width: 400px;
}
th.text-left {
	text-align: left;

}
td.text-left {
	text-align: left;
}
.back{
	position: absolute;
	margin-top: 70%;
	margin-left: 43%;
}