.content{
    margin-top: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
    background-color: #333333;
    filter:alpha(opacity=60);
    opacity:0.8;
	width: 80%;
    padding:2% 5% 2% 5%;

}
p{
    font-size: 14px;
    text-align: justify;
}
.title{
    text-align: left;
    font-size: 20px;
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}