
.title{
	position: relative;
	margin-left: 45%;
	margin-top: 3%;
	max-width: 100%;
	text-align: left;
	font-size: 30px;
	color: #ff6d4a;
}
.img{
	position: relative;
	margin-left: 35%;
	max-width: 90px;
	max-height: 90px;
}
.inf{
	position: relative;

	width: 300px;
	height: 150px;
}
.t{
	position: relative;
	float: left;
	margin-top: 3%;
	padding-top: 3%;
	width: 300px;
	background-color: #333333;
    filter:alpha(opacity=60);
    opacity:0.8;
	/*background-color: black;*/
	text-align: center;
	font-size: 20px;
	color: white;
}
#t{
	text-align: center;
}
.t a{
	color: white;
}
p{
	font-size: 20px;
}
.content{
	width: 1200px;
	height: auto;
	float: left;
	/*background-color: black;*/
	background-color: #333333;
    filter:alpha(opacity=60);
    opacity:0.8;
	padding: 5% 5% 3% 5%;
	margin-left: 18%;
	/*margin-top: 5%;*/
	margin-bottom: 5%;
	text-align:justify;
	/*background-color: black;*/
}
.team{
	width: 90%;
	margin-left: 18%;
}
