<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../static/images/titlelogo.png">
    <title>ZOMG</title>
    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../../static/css/base.css" rel="stylesheet">
    {% block css_block %}{% endblock %}

</head>

<body>

<div class="site-wrapper">
    <div class="site-header">
        <nav>
            <ul class="nav masthead-nav">
                <li class="logo"><a herf="/home/"><img src ="../../static/images/logo.png" height="80" width="250" /></a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/about/">About us</a></li>
                {% if user.username %}
                <li><a href="/profile/">{{ user.username }}</a></li>
                <li><a href="/register/">Logout</a></li>
                {% else %}
                 <li><a href="/login/">Login</a></li>
                <li><a href="/register">Register</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>
<div class="add">
{% block body_block %}{% endblock %}
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>





