{% extends 'game/base.html'%}
{% load staticfiles %}

{% block css_block %}
<link href="../../static/css/rank.css" rel="stylesheet">
{% endblock %}

{% block body_block %}
<div class="tablePos">
	<div class="ranktable">
		<div class="table-title">
			<h4>Score Ranking</h4>
		</div>
		<table class="table-fill">
			<thead>
			<tr>
				<th class="text-left">Player</th>
				<th class="text-left">Score</th>
			</tr>
			</thead>
			<tbody class="table-hover">
			{% for mark in marks %}
			<tr>
				<td class="text-left">{{ mark.user.username}}</td>
				<td class="text-left">{{ mark.mark }}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>

{% endblock %}