
{% extends 'game/base.html'%}
{% load staticfiles %}

{% block css_block %}
<link href="../../static/css/game.css" rel="stylesheet">
{% endblock %}

{% block body_block %}
<div class="content">
	<div class="gamepart">
		<table class="game">
			<script>
				for(var j=0;j<15;j++){
					document.write("<tr>") ;
					for(var i=0;i<15;i++){
						var cellnumber=j*100+i
						document.write("<td id="+cellnumber+">") ;
						document.write("</td>") ;
					}
					document.write("</tr>") ;
				}
			</script>
		</table>
		<div class="gamebutton">
			<button class="button" id="btn1"  onclick="disband()"/>Load</button>
			<button class="button" id="btn2"  onclick="newStart()"/>New Start</button>
			<button class="button" id="btn3"  onclick="setBackground()" type="submit"/>Save</button>
			<!--<form id="save_form" method="post" action="/save/">-->
				<!--{% csrf_token %}-->
				<!--<div class = "inf">-->

					<!--<input class="input" name="food" id="Food" type="hidden" readonly value="{{status.food}}"><br/><br/>-->

					<!--<input class="input" name="health" id="Health" type="hidden" readonly value="{{status.health}}"><br/><br/>-->

					<!--<input class="input" name="survival" id="Day" type="hidden" readonly value="{{status.survival}}"><br/><br/>-->

					<!--<input class="input" name="people" id="Partners" type="hidden" readonly value="{{status.people}}"><br/>-->
				<!--</div>-->

			<!--</form>-->

			<script type="text/javascript" src="../static/js/game.js"></script>
		</div>
	</div>
	<form id="info_form" method="post" action="/game/save/">
		<div class = "inf">
			<p >Food:</p>
			<input class="input"  id="Food" type="text" readonly value="{{status.food}}"><br/><br/>
			<p>Health:</p>
			<input class="input"  id="Health" type="text" readonly value="{{status.health}}"><br/><br/>
			<p>Day:</p>
			<input class="input"  id="Day" type="text" readonly value="{{status.survival}}"><br/><br/>
			<p>Partners:</p>
			<input class="input"  id="Partners" type="text" readonly value="{{status.people}}"><br/>
		</div>
	</form>
</div>
{% endblock %}
