{% extends 'game/base.html'%}
{% load staticfiles %}

{% block css_block %}
<link href="../../static/css/team.css" rel="stylesheet">
{% endblock %}

{% block body_block %}
<p class="title">About us</p>
<div class="team">
	<div class="t">
		<div class="img">
			<img src="../static/images/player.png" width="90" height="90" border="0"  alt="portfolio more info tag">
		</div>
		<div class="inf">
			<p>Runnan Hu<br />University of Glasgow<br/>2192646<br /><span class="email"><a href="mailto:2192646@student.gla.ac.uk" >2192646@student.gla.ac.uk</a></span></p>
		</div>
	</div>

	<div class="t">
		<div class="img">
			<img src="../static/images/player.png" width="90" height="90" border="0"  alt="portfolio more info tag">
		</div>
		<div class="inf">
			<p>Pingru Bi<br />University of Glasgow<br/>2203024<br /><span class="email"><a href="mailto:2203024@student.gla.ac.uk"> 2203024@student.gla.ac.uk</a></span></p>
		</div>
	</div>

	<div class="t">
		<div class="img">
			<img src="../static/images/player.png" width="90" height="90" border="0"  alt="portfolio more info tag">
		</div>
		<div class="inf">
			<p>Yu Han<br />University of Glasgow<br/>2195800<br /><span class="email"><a href="mailto:2195800@student.gla.ac.uk" >2195800@student.gla.ac.uk</a></span></p>
		</div>
	</div>

	<div class="t">
		<div class="img">
			<img src="../static/images/player.png" width="90" height="90" border="0"  alt="portfolio more info tag">
		</div>
		<div class="inf">
			<p>Wei Lu<br />University of Glasgow<br/>2200401<br /><span class="email"><a href="mailto:2200401@student.gla.ac.uk" >2200401@student.gla.ac.uk</a></span></p>
		</div>
	</div>
	<br/>
	</div>
	<div class="content">
		<p  color="white"  align="center">Game Information</p>
		<p>
			Zombie Survival is an interesting game aiming to survive as long as possible with the help of other survivors and the threats of zombies. The operation is simple, and the interface is clear. However, every choice matters the final results of the game.
		</p>
	</div>

{% endblock %}