{% extends 'game/base.html'%}
{% load staticfiles %}

{% block css_block %}
<link href="../../static/css/team.css" rel="stylesheet">
{% endblock %}

{% block body_block %}
<p class="title">About us</p>
<div class="team">
	<div class="t">
		<div class="img">
			<img src="../static/images/player.png" width="90" height="90" border="0"  alt="portfolio more info tag">
		</div>
		<div class="inf">
			<p>Runnan Hu<br />University of Glasgow<br/>2192646<br /><span class="email"><a href="mailto:hrngla@yahoo.com" >hrngla@yahoo.com</a></span></p>
		</div>
	</div>

	<div class="t">
		<div class="img">
			<img src="../static/images/player.png" width="90" height="90" border="0"  alt="portfolio more info tag">
		</div>
		<div class="inf">
			<p>Runnan Hu<br />University of Glasgow<br/>2192646<br /><span class="email"><a href="mailto:hrngla@yahoo.com" >hrngla@yahoo.com</a></span></p>
		</div>
	</div>

	<div class="t">
		<div class="img">
			<img src="../static/images/player.png" width="90" height="90" border="0"  alt="portfolio more info tag">
		</div>
		<div class="inf">
			<p>Runnan Hu<br />University of Glasgow<br/>2192646<br /><span class="email"><a href="mailto:hrngla@yahoo.com" >hrngla@yahoo.com</a></span></p>
		</div>
	</div>

	<div class="t">
		<div class="img">
			<img src="../static/images/player.png" width="90" height="90" border="0"  alt="portfolio more info tag">
		</div>
		<div class="inf">
			<p>Runnan Hu<br />University of Glasgow<br/>2192646<br /><span class="email"><a href="mailto:hrngla@yahoo.com" >hrngla@yahoo.com</a></span></p>
		</div>
	</div>
	<br/>
	<div class="content">
		<p  color="white"  align="center">Game Information</p>
		<p  color="white" >Left 4 Dead is a cooperative first-person shooter video game with survival horror elements, developed by Turtle Rock Studios and published by Valve Corporation. The game uses Valve's proprietary Source engine, and is available for Microsoft Windows, Xbox 360 and Mac OS X. Development on the game was completed on November 13, 2008, and two versions were released digitally: A downloadable digital version, released on November 17, 2008, and a digital retail disc version, with a release date determined by region. The digital retail disc version was released in North America and Australia on November 18, 2008; and in Europe on November 21, 2008.</p>
		<p  color="white" >Set during the aftermath of an apocalyptic pandemic, the game pits its four protagonists dubbed the "Survivors" against hordes of the infected. There are four game modes: a single-player mode in which allied characters are controlled by AI; a four-player, co-op campaign mode; an eight-player online versus mode; and a four-player survival mode. In all modes, an artificial intelligence (AI), dubbed the "Director", controls level pacing and item placements, in an attempt to create a dynamic experience and increase replay value.</p>
	</div>

</div>
{% endblock %}